.ui-counter
    width 15px
    height 75px
    display flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    &__button
        height 15px
        width 15px
        vertical-align middle
        text-align center
        border: none 
        padding 0
        margin 0
        cursor pointer
    &__arrow
        width 100%
        height 100%
        color: #C1C6CA;
        &_top
            transform: rotate(180deg)
    &__input
        appearance none
        -moz-appearance: textfield;
        border: none 
        padding 0
        margin 0
        width 100%
        font-family var(--roboto-font)
        font-size: 17px
        text-align center