<link rel="stylesheet" href="./ui-counter.styl">

<div class="ui-counter">
    <button type="button" class="ui-counter__button ui-counter__button_inc">
        <img src="../icon/Icon-Arrow-Dropdown.svg" alt="up" class="ui-counter__arrow ui-counter__arrow_top">
    </button>
    <input type="number" class="ui-counter__input" value="1" min="{data-min}" max="{data-max}">
    <button type="button" class="ui-counter__button ui-counter__button_dec">
        <img src="../icon/Icon-Arrow-Dropdown.svg" alt="down" class="ui-counter__arrow">
    </button>
</div>

<script src="./ui-counter.js"></script>