.ui-button
    display flex
    justify-content: center
    align-items: center        
    height 50px
    background: var(--main-gradient)
    color: var(--black-color)
    border: 0
    cursor: pointer
    padding 0 15px
    &__filter
        width 50px
        border-radius: 50%
        box-shadow: var(--yellow-shadow)
    &__add-to-basket
        background: #FFDA55;
        border-radius: 10px;
        box-shadow: var(--yellow-shadow)
    &__ok
        width 50px
        border-radius: 50% 0 50% 50%  
        box-shadow: var(--yellow-shadow)
    &__pay
        width 155px
        border: 1px solid var(--black-color)
        box-sizing: border-box;
        border-radius: 10px;
        background #fff
    &__long
        width 335px
        height 50px
        box-shadow: var(--yellow-shadow)
        border-radius: 10px
       
    &__icon
        &_yes
            display: none  

    &__text_active
          margin-right: 9px
    