@import 'normalize.css';


:root{
    --main-gradient:linear-gradient(90deg, #FFCA41 0%, #FFDA55 100%)
    
    --bebas-font:'Bebas Neue', arial
    --roboto-font:'Roboto Condensed', sans-serif

    --black-color:#282828; 

    --yellow-shadow: 0px 2px 15px rgba(255, 218, 85, 0.6);
}
body{
    // font-family: var(--bebas-font);
    box-sizing: border-box
}