<link rel="stylesheet" href="./ui-dropdown.styl">

<section class="ui-dropdown">
    <ui-h4 data-class="ui-dropdown__header" data-content-h4="compostion & care">

    </ui-h4>
    <ul class="ui-dropdown__list ui-dropdown__list_hidden">
        <li class="ui-dropdown__item">
            {data-item1}
        </li>
        <li class="ui-dropdown__item">
            {data-item2}
        </li>
        <li class="ui-dropdown__item">
            {data-item3}
        </li>
        <li class="ui-dropdown__item">
            {data-item4}
        </li>
    </ul>
</section>
<script src="./ui-dropdown.js"></script>